.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.bannerText {
    position: relative;
    z-index: 20;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    height: auto;
    top: 80px;
}